<h1>OneBitChat Invitation</h1>
<h2>Hi, <%= @invitation.email %>!</h2>
<p><%= @team.user.name %> invited you to become a member from <%= @team.slug %> Team in OnebitChat.</p>
<p>Sign in to <a href="http://localhost:3000">OnebitChat</a>, accepted the invited and enjoy!</p>
<p>Thank You!</p>
